.circle_image {
	border-radius: 50%;
	border-color: rgba(215, 58, 38, .95);
	border-width: 0.425rem;
	border-style: solid;
	box-sizing:border-box;
	-webkit-transition: all .3s cubic-bezier(.4, 0, .2, 1);
	        transition: all .3s cubic-bezier(.4, 0, .2, 1);
}

.circle_image:hover {
	opacity: 0.8;
	border-width: 0.625rem;
	
}

.pic-suit-size{
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
  margin: 0.625rem;
}